body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 1em;
}

textarea,
pre {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

textarea {
  width: 65%;
}

pre {
  width: 32%;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
