body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.container > * {
  width: 48%;
}

textarea,
#output {
  height: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

textarea {
  resize: none;
  border: 1px solid gray;
}

#output {
  border: 1px solid black;
  overflow-y: scroll;
}
