body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

textarea {
  flex: 2;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
}

#output {
  flex: 1;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  overflow-y: scroll;
  box-sizing: border-box;
}
